body{
  background-color: aliceblue;
}

h3{
  color: green;
}

ul{
  background-color: #eed;
}

a{
  color: black;
  text-decoration: none;
}

.read{
  color: gray;
}

#now{
  color: red;
}