@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url('../static/images/pattern.png');
    background-color:  #a3a3a3;
    background-size: 100px;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bookcover{
    background-color:  #b4d1da;
    border-radius: 9px;
    border: 1px solid  #738186;
    width: 960px;
    height: 660px;
    
    margin: 100px auto;
    position: relative;
}

.page{
    position: absolute;
    top: 5px;
    left: 5px;

    width: 925px;
    height: 625px;

    border-radius: 9px;
    background-color: rgb(241, 238, 238);
    z-index: 1;
}

.bookdot{
    position: absolute;
    top: 10px;
    left: 10px;

    border-style: dashed;
    border-color: white;
    border-radius: 9px;

    width: 935px;
    height: 635px;


}

.container{
    width: 910px;
    height: 660px;
    padding: 10px;
    display: flex;
    
}

.colunm1{
    font-family: 'S-CoreDream-3Light';
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.row1{
    flex: 0.05;
    display: flex;
    z-index: 2;
    align-items: flex-end;
    justify-content: center;
}
.row2{
    flex: 0.85;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 9px;
    background-color: white;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: frist-start;
}



